# Exercise 1

Assign three variables, called `myinteger`, `myfloat`, and `mystring` with the values 3, 5, and "ten" with the types int, float, and string respectively.

In [ ]:
myinteger = 3
myfloat = 5.0
mystring = "ten"

In [ ]:
print(myinteger)
print(myfloat)
print(mystring)

Confirm that the types are int, float, and string by running the following expressions.

In [ ]:
print((type(myinteger) == int))
print((type(myfloat) == float))
print((type(mystring) == str))

# Exercise 2 

The operations * and + are defined for some combinations of data types, but not for others.  Determine which of these operations gives an error.  Any surprises?

In [ ]:
myinteger * myfloat

int * string :

In [ ]:
myinteger * mystring

float * string :

In [ ]:
myfloat * mystring

string + float  :

In [ ]:
mystring + myfloat

string + string :

In [ ]:
mystring + mystring

# Exercise 3
5. Assign the string `thethreeitems` the value of "3, 5, and ten" **using the contents of the three variables defined above** (  `myinteger`, `myfloat`, and `mystring`)    (Hint: You need to get everything into the `str` data type.  You may need to coerce some data types.)

In [ ]:
thethreeitems = str(myinteger) + ", " + str(int(myfloat)) + ", and " + mystring

Test your work:

In [ ]:
print((thethreeitems == "3, 5, and ten"))