# Exercise 1

Assign three variables, called `myinteger`, `myfloat`, and `mystring` with the values 3, 5, and "ten" with the types int, float, and string respectively.

In [5]:
myintegr = 3
myfloat = 5.0
mystring = "ten"

In [2]:
print(myinteger)
print(myfloat)
print(mystring)

3
5.0
ten

Confirm that the types are int, float, and string by running the following expressions.

In [3]:
print(type(myinteger) == int)
print(type(myfloat) == float)
print(type(mystring) == str)

True
True
True

# Exercise 2 

The operations * and + are defined for some combinations of data types, but not for others.  Determine which of these operations gives an error.  Any surprises?

In [6]:
myinteger * myfloat

15.0

int * string :

In [7]:
myinteger * mystring

'tententen'

float * string :

In [8]:
myfloat * mystring

TypeError: can't multiply sequence by non-int of type 'float'

string + float  :

In [9]:
mystring + myfloat

TypeError: cannot concatenate 'str' and 'float' objects

string + string :

In [10]:
mystring + mystring

'tenten'

# Exercise 3
5. Assign the string `thethreeitems` the value of "3, 5, and ten" **using the contents of the three variables defined above** (  `myinteger`, `myfloat`, and `mystring`)    (Hint: You need to get everything into the `str` data type.  You may need to coerce some data types.)

In [13]:
thethreeitems = str(myinteger) + ", " + str(int(myfloat)) + ", and " + mystring

Test your work:

In [14]:
print(thethreeitems == "3, 5, and ten")

True